@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    <p>
        På denna sida kan du lagra album och artister! Du kan även hålla koll på skivor du lånat ut.
    </p>
    <p>Sidan är skapad för moment 3 i kursen Webbutveckling med .Net.<br>
    Sidan är en databasdriven ASP.net MVC Core webbplats och är skapad med hjälp av Entity Framework. <br>
      </p>
</div>
